<div class="school">
    <img src="assets/IramLogo.png" alt="Iram II Elementary School Logo">
    <div class="info">
        <p>Iram II Elementary School</p>
        <p>Department of Education - Region III</p>
        <h1>School Division Office Of Olongapo City</h1>
    </div>  
</div>

<div class="banner">
    <div class="image-container">
        <img src="assets/banner.png" alt="School Banner Image">
        <div class="overlay"></div>
        <div class="text">Vision, Mission & Core Values</div>
    </div>
</div>

<div class="VM-container">
    <div class="VM">
        <div class="card">
            <h1>Vision</h1>
            <p>
                We dream of Filipinos who passionately love their country and whose values and competencies enable them to realize their full potential and contribute meaningfully to building the nation.
            </p>
            <br>
            <p >
                As a learner-centered public institution, the Department of Education continuously improves itself to better serve its stakeholders.
            </p>
        </div>

        <div class="card">
            <h1>Mission</h1>
            <p>
                To protect and promote the right of every Filipino to quality, equitable, culture-based, and complete basic education where:
            </p>
            <br>
            <ul>
                • Students learn in a child-friendly, gender-sensitive, safe, and motivating environment.<br>
                • Teachers facilitate learning and constantly nurture every learner.<br>
                • Administrators and staff, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen.<br>
                • Family, community, and other stakeholders are actively engaged and share responsibility for developing life-long learners.
            </ul>
        </div>
    </div>
</div>

<div class="core-values-container">
    <div class="core-values">
        <h1>Core Values</h1>
        <div class="values-grid">
            <div class="value-item">Maka-Diyos</div>
            <div class="value-item">Maka-tao</div>
            <div class="value-item">Makakalikasan</div>
            <div class="value-item">Makabansa</div>
        </div>
    </div>
</div>

<div class="motto">
    "Nurturing Indigenous Pride, Cultivating Excellence and Shaping Character"
</div>