<div class="school">
    <img src="assets/IramLogo.png" alt="">
    <div class="info">
        <p>Iram II Elementary School</p>
        <p>Department of Education - Region III</p>
        <h1>School Division Office Of Olongapo City</h1>
    </div>  
</div>

<div class="banner">
    <div class="image-container">
        <img src="assets/banner.png" alt="Background Image">
        <div class="overlay"></div>
        <div class="text">Academic Programs</div>
    </div>
</div>

<div class="radio-content">

    <div class="contents" *ngIf="selectedLevel === 'basicEd'">
        <div class="wrapper">

            <h1 class="head">Basic Education Curriculum</h1>

            <div class="elem">
                <h1>Elementary</h1>
            </div>
            <div class="kinder">
                <h1>Kindergarten</h1>
                <h1>Grade 1 - 6</h1>
            </div>
            <div class="junior">
                <h1>Junior High School</h1>
            </div>
            <div class="high">
                <h1>GRADE 7-10</h1>
            </div>

            <div class="last">
                <div class="seven">
                    <h1>GRADE 7-8</h1>
                    <h1>(Exploratory TLE)</h1>
                </div>
                <div class="ten">
                    <h1>GRADE 9-10</h1>
                    <h1>(Specialized TLE)</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="elem" *ngIf="selectedLevel === 'kinder'">
        <div class="content">
            <h1>Kindergarten</h1>

            <p>Republic Act 10157, or “The Kindergarten Education Law” made Kindergarten the compulsory and mandatory entry stage to basic education. Section 2 of this Act provides that all five (5)-year old children shall be given equal opportunities for Kindergarten Education to effectively promote their physical, social, emotional and intellectual development, including values formation so they will be ready for school. This was so since the Department of Education (DepEd) believes that Kindergarten is the transition period from informal to formal literacy (Grades 1-12) considering that age five (5) is within the critical years where positive experiences must be nurtured to ascertain school readiness.</p>
                <br>
            <p>  Various researches support that this is the period of greatest growth and development, when the brain develops most rapidly and almost at its fullest. It is also the stage when self- esteem, vision of the world and moral foundations are established. Teachers/parents/caregivers/adults should therefore be guided to facilitate explorations of our young learners in an engaging and creative curriculum that is developmentally appropriate which immerse them in meaningful experiences. Provision of varied play-based activities leads them to becoming emergent literates and, helps them to naturally acquire the competencies to develop holistically. They are able to understand the world by exploring their environment as they are encouraged to create and discover, that eventually leads them to becoming willing risk takers and ready to tackle formal school works.</p>
                <br>
        </div>
    </div>

    <div class="elem" *ngIf="selectedLevel === 'grade1'">
        <div class="grade1">
            <h1>Grade 1 - 10 Subjects</h1>
            <div class="list">
                <div class="lists">
                    <ul>
                        <li>Mother Tongue (Grade 1- 3)</li>
                        <li>Filipino</li>
                        <li>English</li>
                        <li>Mathematics</li>
                        <li>Science</li>
                        <li>Araling Panlipunan</li>
                        <li>Edukasyon sa Pagpapakatao (EsP)</li>
                        <li>Music</li>
                        <li>Arts</li>
                        <li>Physical Education</li>
                        <li>Health</li>
                        <li>Edukasyong Pantahanan at Pangkabuhayan</li>
                        <li>Technology and Livelihood Education (TLE)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="elem" *ngIf="selectedLevel === 'SpecialProgram'">
        <div class="Spec">
            <h1>SPECIAL PROGRAMS</h1>

            <div class="specs">
                <div class="title">Special Education Programs and Services (spED)</div>
                <div class="author">by : <span>Mark Anthony Lego</span> </div>
                <div class="desc">
                    <p>In the secondary level, appropriate Special Education (SpEd) programs and services are provided for learners with disabilities. These programs and services refer to academic interventions, curriculum adaptations, learning resource support, career and guidance counseling programs, and transition programs focusing on technical-vocational competencies and/or special interest skills development. To address the learners’ health and medical conditions, schools’ referral system to medical and allied medical-service providers is an essential part of SpEd services. This will only be possible through strong school-community collaboration and partnerships with parents and families, local government units, and non-government agencies and civic organizations. </p>
                        <br>
                    <p>Proper assessment and identification of strengths, difficulties and interests are essential in planning for the appropriate transition program and Individualized Education Plan (IEP) for learners with disabilities. The guidance and counseling program gives direction and support to learners in preparation for adulthood, identification and accomplishment of goals in the IEP, and learners’ transition to school-work, home, or community life.</p>
                        <br>
                    <p>To ensure that learners have access to the K to 12 basic education program, curriculum contextualization, adaptations, and modifications are made depending on the learner’s abilities and needs. This is possible when time allotment for learning areas and subjects in junior and senior high school are adjusted and/or extended. Another example is the Adaptive Physical Education (PE), wherein PE teachers modify and prepare activities to include learners with disabilities. Learners with disabilities also access the curriculum when they are provided with and supported by learning resources and assistive devices and technologies. </p>
                        <br>
                    <p>These include sign language interpreters, materials in Braille, wheelchairs, and hardware and software systems, among others.</p>
                        <br>
                    <p>On the other hand, the transition program prepares learners to successfully move forward from home to school, class to class, and/or from school to another school for higher education or middle-level skills development. The program may also help learners transition to employment and entrepreneurship. For more information, please refer to the policy on learners with disabilities.</p>
                </div>
            </div>

            <div class="more">
                <div class="title">Indigenous Peoples Education ( iPED)</div>
                <div class="sub"><span>DO 32, s. 2015 – Adopting the Indigenous Peoples Education Curriculum Framework</span></div>
                <div class="head">

                    <p>July 29, 2015 </p>
                    <p>DO 32, s. 2015 </p>
                    <p>Adopting the Indigenous Peoples Education Curriculum Framework </p>
                    <p>To:     Undersecretaries </p>
                    <p>Assistant Secretaries  </p>
                    <p>Bureau Directors  </p>
                    <p>Directors of Services, Centers and Heads of Units  </p>
                    <p>Regional Directors  </p>
                    <p>Schools Division Superintendents </p>
                    <p>Heads, Public and Private Elementary and Secondary Schools </p>
                    <p>All Others Concerned </p>
                   

                </div>
                <div class="description">

                    <p>Pursuant to DepEd Order No. 62, s. 2011 entitled Adopting the National Indigenous Peoples Education (IPEd) Policy Framework and DepEd Order No. 43, s. 2013 entitled Implementing Rules and Regulations of Republic Act No. 10533 Otherwise Known as the Enhanced Basic Education Act of 2013, the Department of Education (DepEd) is adopting the enclosed Indigenous Peoples Education Curriculum Framework.</p>
                    <p>Recognizing the right of indigenous peoples to basic education that is culturally rooted and responsive, the IPEd Curriculum Framework seeks to provide guidance to schools and other education programs, both public and private, as they engage with indigenous communities in localizing, indigenizing, and enhancing the K to 12 Curriculum based on their respective educational and social contexts.</p>
                    <p>Fundamental to IPEd is establishing institutionalized partnership between indigenous communities and the respective schools/learning programs which serve them. This is to be pursued through sustainable community engagement which guarantees the meaningful participation of indigenous communities in the inclusion of their Indigenous Knowledge Systems and Practices (IKSPs) and Indigenous Learning Systems (ILS) in the Basic Education Curriculum.</p>

                    <p>The continuous process of community engagement and refinement of the IPEd Curriculum at the school community level actualizes the Department’s commitment to the attainment of the abovementioned right of indigenous peoples to education. In this regard, for schools and learning programs serving indigenous learners, the aims of the K to 12 Program are realized through IPEd.
                    <p>The IPEd Curriculum Framework was formulated based on inputs from a series of consultations conducted by the DepEd – Indigenous Peoples Education Office (IPsEO) with community elders, leaders, and implementers of community-based IPEd initiatives.
                    <p>Immediate dissemination of and strict compliance with this Order is directed.</p>

                </div>
                <div class="foot">

                    <p>(Sgd.) BR. ARMIN A. LUISTRO FSC</p>

                    <p>Secretary</p>

                    <p>Encl.: As stated</p>

                    <p>References: DepEd Order Nos.: (62, s. 2011 and 43, s. 2013)</p>

                    <p>To be indicated in the Perpetual Index under the following subjects:</p>

                    <p>CURRICULUM</p>
                    <p>HUMAN RIGHTS EDUCATION</p>
                    <p>INDIGENOUS PEOPLES EDUCATION</p>
                    <p>POLICY</p>
                    <p>PROGRAMS</p>
                    <p>DO_s2015_32</p>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="radio">

    <h1>CURRICULUM GUIDES</h1>

    <div class="links">

        <label [class.active]="selectedLevel === 'basicEd'">
            <input type="radio" name="level" [value]="'basicEd'" [(ngModel)]="selectedLevel" (ngModelChange)="onLevelChange($event)"> Basic Education Curriculum
        </label>

        <label [class.active]="selectedLevel === 'kinder'">
            <input type="radio" name="level" [value]="'kinder'" [(ngModel)]="selectedLevel" (ngModelChange)="onLevelChange($event)"> Kindergarten
        </label>

        <label [class.active]="selectedLevel === 'grade1'">
            <input type="radio" name="level" [value]="'grade1'" [(ngModel)]="selectedLevel" (ngModelChange)="onLevelChange($event)"> Grade 1 - 10
        </label>

        <label [class.active]="selectedLevel === 'SpecialProgram'">
            <input type="radio" name="level" [value]="'SpecialProgram'" [(ngModel)]="selectedLevel" (ngModelChange)="onLevelChange($event)"> Special Programs
        </label>
    </div>


</div>


