<body>


    <div class="school">
        <img src="assets/IramLogo.png" alt="">
        <div class="info">
            <p>Iram II Elementary School</p>
            <p>Department of Education - Region III</p>
            <h1>School Division Office Of Olongapo City</h1>
        </div>

        <div class="timezone-container">
            <h2>Philippine Standard Time: <br><br><span class="time-display">{{ philippineTime }}</span></h2>
        </div>
    </div>

      <div class="slider">
        <img src="assets/image/matatag.jpg" alt="">
      </div>

      <div class="nsa">
        <h1>News and Announcement</h1>
      </div>

        <div class="square">
          <img src="assets/image/nsa1.png" alt="Event Image" />

          <div class="event-content">
            <h1>Iram II School Events</h1>
            <p>
              Event Title: Iram II Elementary School Conducts Successful Fire Drill and DRRM Symposium to Boost Community <br>Preparedness
            </p>
            <p>Date of the Event: February 7, 2025</p>
            <button class="read-more">Read More →</button>
          </div>
        </div>
    
    
    </body>

