.school {
    img {
        width: auto;
        height: 101px;
        margin-left: 120px;
        margin-top: 28px;
    }

    .info {
        margin-top: -89px;
        font-weight: 500;
        color: var(--secondary-dark-brown);
        margin-left: 245px;
    }
}

.timezone-container {
  display: flex;
  margin-left: 80%;
  margin-top: -85px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  img {
    width: 86%;
    height: 450px;
  }
}

.nsa {
  color: var(--primary-dark-red);
  display: flex;
  flex-direction: column;         // Stack h1 and square vertically
  align-items: center;            // Center both items horizontally
  margin-top: 45px;

  h1 {
    color: var(--primary-dark-red);
    margin-bottom: 20px;
  }

  .square {
    width: 86%;
    height: 350px;
    background-color: var(--primary-dark-red);
  }
}

