.school {
    img {
        width: auto;
        height: 101px;
        margin-left: 120px;
        margin-top: 28px;
    }

    .info {
        margin-top: -89px;
        font-weight: 500;
        color: var(--secondary-dark-brown);
        margin-left: 245px;
    }
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  img {
    width: 86%;
    height: 350px;
  }
}

.nsa h1{
  color: var(--primary-dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}
