<div class="school">
    <img src="assets/IramLogo.png" alt="">
    <div class="info">
        <p>Iram II Elementary School</p>
        <p>Department of Education - Region III</p>
        <h1>School Division Office Of Olongapo City</h1>
    </div>

    <div class="timezone-container">
        <h2>Philippine Standard Time: <br><br><span class="time-display">{{ philippineTime }}</span></h2>
    </div>
</div>

<div class="banner">
    <div class="image-container">
        <img src="assets/banner.png" alt="Background Image">
        <div class="overlay"></div>
        <div class="text">Academic & Learnings</div>
    </div>
</div>

<div class="content">

    <div class="card">

        <div class="sample">
            <img src="assets/NoContent/none.png" alt="">
            <p>No Content</p>
        </div>
    </div>
    
</div>