
.extra {
    width: 100%;
    background-color: var(--primary-maroon);
    opacity: 70%;
    height: 315px;
    justify-items: center;
    color: white;
    margin-top: 3000px;
  
    h1 {
      padding-top: 78px;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 45px;
    }
  
    p {
      font-weight: 400;
      font-size: 17px;
    }
    
  }
  
  .school-footer {
      background-color: var(--primary-dark-red);
      padding: 40px 0 20px;
      font-family: 'Arial', sans-serif;
      color: #333;
  
      .dots{
          font-size: 55px;
          color: var(--neutral-white);
      }
  
      .footer-container {
        max-width: 1600px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 20px;
      }
  
      .footer-section {
        width: 23%;
        min-width: 200px;
        margin-bottom: 30px;
  
        &.school-info {
          width: 30%;
        }
      }
  
      .footer-title {
        font-size: 24px;
        margin-bottom: 15px;
        color: var(--neutral-white);
        font-weight: 600;
      }
  
      .footer-subtitle {
        font-size: 24px;
        margin-bottom: 15px;
        color: var(--neutral-white);
        font-weight: 600;
      }
  
      .footer-description {
        color: var(--neutral-grey);
        line-height: 1.5;
        font-size: 15px;
        font-weight: 400;
      }
  
      .footer-links,
      .footer-contacts {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 8px;
          font-size: 16px;
          color: var(--neutral-grey);
          font-weight: 400;
  
          a {
            color: var(--neutral-grey);
            text-decoration: none;
            transition: color 0.3s;
  
            &:hover {
              color: var(--primary-light-green);
            }
          }
        }
      }
  
      .footer-copyright {
        max-width: 1200px;
        margin: -10px auto 0;
        padding: 20px 20px 0;
        text-align: center;
        color: var(--neutral-grey);
        font-size: 14px;
        font-weight: 400;
      }
  
      // Responsive adjustments
      @media (max-width: 768px) {
        .footer-section {
          width: 48% !important;
        }
      }
  
      @media (max-width: 480px) {
        .footer-section {
          width: 100% !important;
        }
      }
    }
  