<div class="school">
    <img src="assets/IramLogo.png" alt="">
    <div class="info">
        <p>Iram II Elementary School</p>
        <p>Department of Education - Region III</p>
        <h1>School Division Office Of Olongapo City</h1>
    </div>

    <div class="timezone-container">
        <h2>Philippine Standard Time: <br><br><span class="time-display">{{ philippineTime }}</span></h2>
    </div>
</div>

<div class="banner">
    <div class="image-container">
        <img src="assets/banner.png" alt="Background Image">
        <div class="overlay"></div>
        <div class="text">Contact Us</div>
    </div>
</div>

<div class="map-container">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1096.5219070549472!2d120.32637413113143!3d14.873604072871284!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33967aa7379699d9%3A0xb5bb9e625030ccb1!2sIram%20II%20Elementary%20School!5e1!3m2!1sen!2sph!4v1747187753926!5m2!1sen!2sph" 
        width="600" 
        height="450" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>

<div class="contact-cards-container">
    <div class="contact-card">
        <div class="card-icon">
            <i class="fa fa-phone"></i>
        </div>
        <div class="card-content">
            <div class="card-box">
                <h3>Call Us</h3>
                <p>09952950709</p>
                <p class="subtitle">Phone Number</p>
                <a href="tel:09952950709" class="contact-btn">Call Now</a>
            </div>
        </div>
    </div>
    
    <div class="contact-card">
        <div class="card-icon">
            <i class="fa fa-envelope"></i>
        </div>
        <div class="card-content">
            <div class="card-box">
                <h3>Email Us</h3>
                <p>162003&#64;deped.gov.ph</p>
                <p class="subtitle">&nbsp;</p>
                <a href="mailto:162003@deped.gov.ph" class="contact-btn">Email Now</a>
            </div>
        </div>
    </div>
    
    <div class="contact-card">
        <div class="card-icon">
            <i class="fa fa-map-marker"></i>
        </div>
        <div class="card-content">
            <div class="card-box">
                <h3>Find Us</h3>
                <p>Sitio Mampueng, Old Cabalan, Olongapo City</p>
                <p class="subtitle">&nbsp;</p>
                <a href="https://maps.app.goo.gl/b5HqVmZ5BfBsGWdu7" class="contact-btn" target="_blank">View Map</a>
            </div>
        </div>
    </div>
</div>

